@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

a {
  text-decoration: none !important;
}

body {
  transition: width 0.2s, height 0.2s;
  transition: 0.2s;
}

pre {
  color: black;
  padding: 5px;
  background-color: #fbcc84;
  width: max-content;
  line-height: 1.2;
  border-radius: 0.25rem;
}

@keyframes rotateAnimationOff {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -60px);
  }
}

@keyframes rotateAnimationOn {
  0% {
    transform: translate(0, 60px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.theme-switcher-circle-off {
  position: absolute;
  transform: translate(0, 0);
  animation: rotateAnimationOff 0.2s ease;
}
.theme-switcher-circle-on {
  position: absolute;
  transform: translate(0, 0);
  animation: rotateAnimationOn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;
}

.coffee-btn {
  height: 40px;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff813f;
  width: 40px;
  transition: 0.2s;
}
.coffee-btn:hover {
  background-color: #db692c;
  transition: 0.2s;
}
